{% extends "base.html.twig" %}

{% block body %}
	<div class="container col-md-12">
		<div class="col-md-12 d-flex justify-content-center">
			<h1>Page de don</h1>
		</div>
		<div class="col-md-12 d-flex justify-content-center">
			<p>Faire un don pour la construction du site ?</p>
		</div>
	</div>
	<div id="donation">

		<Donation/>

	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	{{ encore_entry_script_tags('donation')}}

	<script src="https://js.stripe.com/v3/"></script>

 <script src="{{ asset('/build/js/stripe.js')}}"></script>

{% endblock %}
