{% extends "base.html.twig" %}

{% block body %}
<div class="jumbotron text-center">
<h1>Liste de Produits</h1>
</div>

<div id="app">
    <App/>
</div>

{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app')}}
{% endblock %}