{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1>Agence lorem ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo orci ut odio rhoncus, sed tempus dolor consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce in nunc odio. Morbi vehicula tincidunt lectus et rutrum. Sed condimentum nibh non nisi placerat placerat. Quisque egestas dictum purus, vitae condimentum magna pellentesque id. Nam suscipit ex felis, eu malesuada turpis commodo at. Pellentesque vitae mi nunc. Duis ac tristique purus. Quisque lobortis vitae urna et tempor. Donec sed hendrerit quam. 
</p>
</div>
{% endblock %}
